body {
  display: flex;
}

aside {
  overflow: auto;
  height: 100vh;
  width: 20rem;
}

li {
  display: flex;
}

li :first-child {
  flex: 1;
}

li.collapsed {
  display: none;
}

button.collapsed svg {
  transform: rotate(180deg);
}

main {
  flex: 1;
}

video {
  width: 100%;
}

.lucide {
  width: 1em;
  height: 1em;
}
